<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>Risultati Ricerca | FindYourPlace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/siteStyle.css}">
    <link rel="stylesheet" th:href="@{/css/ricercaResult.css}">
    <link rel="stylesheet" th:href="@{/css/SearchResult.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:inline="javascript" >  let list =[[${luoghi}]] </script>

</head>
<body>
<div th:insert="fragments/header :: navbar"></div>
 <div class="main-SearchResult">
       <div class="SearchResult-MainResult">
           <div sec:authorize="isAuthenticated()" class="SearchResult-addPref" id="SearchResult-isPref"
               th:attr="onclick=|return setPref('${luoghi[0].getIdLuogo()}', ${preferito==null ? false : true})|">
               <i th:if="${preferito}==null" class="fa fa-star-o"></i>
               <i th:unless="${preferito}==null" class="fa fa-star"></i>
           </div>
          <div class="SearchResult-luogo">
              <h2 class="SearchResult-luogo-text" >Il luogo che fa per te è:</h2>
              <h1 class="SearchResult-luogo-actualresult"  th:text="${luoghi[0].nome}"></h1>
              <div class="SearchResult-idq">
                  <div class="SearchResult-idq-value" >
                      <span class="good-result" th:if="${luoghi[0].qualityIndex}>=65" th:text="${luoghi[0].qualityIndex+'%'}"></span>
                      <span class="medium-result" th:if="${luoghi[0].qualityIndex}>=40 and ${luoghi[0].qualityIndex}<=64" th:text="${luoghi[0].qualityIndex+'%'}"></span>
                      <span class="bad-result" th:if="${luoghi[0].qualityIndex}<=39" th:text="${luoghi[0].qualityIndex+'%'}"></span>

                  </div>
                  <div class="SearchResult-idq-comment" >
                      <span class="good-result" th:if="${luoghi[0].qualityIndex}>=65">La qualità di vita è ottima! </span>
                      <span class="medium-result" th:if="${luoghi[0].qualityIndex}>=40 and ${luoghi[0].qualityIndex}<=64">La qualità di vita è discreta </span>
                      <span class="bad-result" th:if="${luoghi[0].qualityIndex}<=39">La qualità è pessima </span>
                  </div>
              </div>
              <div class="SearchResult-luogo-otherParameters">
                  <span class="SearchResult-luogo-costoVita" th:text="${'Costovita: '+luoghi[0].costoVita}">costovita:</span>
                  <span class="SearchResult-luogo-danger" th:text="${'Pericolosità: '+luoghi[0].danger}"></span>
                  <span class="SearchResult-luogo-numAbitanti" th:text="${'Numero Abitanti: '+luoghi[0].numAbitanti}"></span>
                  <span class="SearchResult-luogo-numNegozzi" th:text="${'Numero Negozzi: '+luoghi[0].numNegozi}"></span>
                  <span class="SearchResult-luogo-numRistoranti" th:text="${'Numero Ristoranti: '+luoghi[0].numRistoranti}"></span>
                  <span class="SearchResult-luogo-numScuole" th:text="${'Numero Scuole: '+luoghi[0].numScuole}"></span>
              </div>
          </div>
           <div class="SearchResult-secondaryResults">
               <span class="SearchResult-secondaryResults-header">Inoltre sono stati trovati anche i seguenti luoghi secondari: </span>
               <div th:each="luogo : ${luoghi}"
                       th:if="${luogoStat.index} != 0">
                   <span class="SearchResult-secondaryResults-text" th:text="${luogo.nome}"></span>
               </div>

           </div>
           <div class="SearchResult-graphDesc">
               <span class="SearchResult-graphDesc-text">I dati dei luoghi sono stati messi a confronto nei seguenti grafici: </span>
           </div>
      </div>


      </div>
        <div class="SearchResult-graphs" id="SearchResult-charts" >
            <div class="graph-wrapper" >
                <canvas id="SearchResult-charts-idq"  ></canvas>
            </div>
            <div class="graph-wrapper" >
                <canvas id="SearchResult-charts-pericolosita" ></canvas>
            </div>
            <div class="graph-wrapper" >
                <canvas id="SearchResult-charts-numAbb" ></canvas>
            </div>
            <div class="graph-wrapper" >
                <canvas id="SearchResult-charts-numNeg" ></canvas>
            </div>
            <div class="graph-wrapper" >
                <canvas id="SearchResult-charts-numRist" ></canvas>
            </div>
            <div class="graph-wrapper" >
                <canvas id="SearchResult-charts-numScu" ></canvas>
            </div>
        </div>

    <div th:insert="fragments/footer :: footer"></div>
</body>
<script th:src="@{/js/ricercaResult.js}"></script>
</html>

