<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>FindYourPlace | Dettagli Utente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/siteStyle.css" th:href="@{/css/siteStyle.css}">
    <link rel="stylesheet" href="../../static/css/siteStyle.css" th:href="@{/css/users.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../static/js/users.js" th:src="@{/js/users.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: navbar"></div>
<main>
    <div class="main-wrapper">
       <h1 id="title-page">Dettagli Utente</h1>
            <div class="tableContainer">
                <table class="defaultTable">
                    <tr>
                        <th style="text-align: center;">dettagli</th>
                        <th style="text-align: center;">valori</th>
                    </tr>
                    <tr>
                        <td>id</td>
                        <td th:text="${utente.getIdUtente()}"></td>
                    </tr>
                    <tr>
                        <td>username</td>
                        <td th:text="${utente.getUsername()}"></td>
                        <td>
                            <form th:action="@{/admin/modifyUser}" method="post" role="form">
                                <input class="form-field-input" id="modifyuser" name="username" th:value="${utente.getUsername()}" type="text" readonly autocomplete="off" hidden>

                            <button class="buttonPrimary buttonHover form-submitButton" onclick="return ConfermaAzioneResetUsername()" type="submit"   style="border: 0px;width: 130px">Resetta</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>password</td>
                         <td>********</td>
                        <td>
                            <form th:action="@{/admin/modifyPassword}" method="post" role="form">
                                <input class="form-field-input" id="modifypassword" name="email" th:value="${utente.getEmail()}" type="text" readonly autocomplete="off" hidden>

                                <button class="buttonPrimary buttonHover form-submitButton" onclick="return ConfermaAzioneResetPassword()" type="submit" style="border: 0px;width: 130px">Reimposta</button>
                            </form>
                        </td>

                    </tr>
                    <tr>
                        <td>nome</td>
                        <td th:text="${utente.getNome()}"></td>
                    </tr>
                    <tr>
                        <td>cognome</td>
                        <td th:text="${utente.getCognome()}"></td>
                    </tr>
                    <tr>
                        <td>data nascita</td>
                       <td th:text="${utente.getDataNascita()}"></td>
                    </tr>
                    <tr>
                        <td>numero tel</td>
                       <td th:text="${utente.getNumeroTel()}"></td>
                    </tr>
                    <tr>
                        <td>email</td>
                       <td th:text="${utente.getEmail()}"></td>


                    </tr>
                </table>
            </div>
            <button class="buttonPrimary buttonHover" id="Button-form-notificationB" style="margin: 20px auto;border: 0px" onclick="openTabContentB('form-notification')">Invia notifica</button>
            <div class="formContainer" id="tab-content-form-notification" style="height:0; border: 0 solid #737373; margin:0; padding:0; display: none;">
                <h1 class="formContainer-title ">Scrivi qui i dettagli della notifica</h1>
                <div class="formContainer-wrapper" id="formContainer-wrapper-notification">
                    <form th:action="@{/sendNotification}" th:object="${notifica}" method="post" role="form">
                        <input class="form-field-input" id="destinatatioSendnot" name="destinatario" th:value="${utente.getUsername()}" type="text" readonly autocomplete="off" hidden>
                        <div class="form-field">
                            <label class="form-field-label" for="autoreSendnot">Autore</label>
                            <input class="form-field-input" id="autoreSendnot" name="autore" th:value="${#authentication.getName()}" type="text" readonly autocomplete="off" required>
                        </div>
                        <div class="form-field">
                            <label class="form-field-label" for="textSendnot">testo</label>
                            <textarea class="form-field-input" style="height: 100px; resize: none;" th:field="*{testo}"    id="textSendnot" name="text" rows="5" maxlength="500" autocomplete="off" required></textarea>
                        </div>
                        <button class="form-submitButton buttonPrimary buttonHover" style="margin: 20px auto;display: block;width: 180px;" onclick="return (confermaParametri('single'))" type="submit">Invia Notifica</button>
                    </form>
                </div>
            </div>
    </div>
</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>