<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>FindYourPlace | Dettagli Utente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/siteStyle.css" th:href="@{/css/siteStyle.css}">
    <script src="../../static/js/users.js" th:src="@{/js/users.js}"></script>
</head>
<body>

<main>
    <div>
        <h1>l'utente selezionato è....</h1>

    </div>
</main>

</body>
</html>