<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>FindYourPlace | Utenti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/siteStyle.css}">
    <link rel="stylesheet" th:href="@{/css/users.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/users.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: navbar"></div>
<main>
    <div class="main-wrapper">
        <h1 id="title-page">Utenti</h1>
        <div class="tableContainer">
            <table class="defaultTable">
                <tr>
                    <th style="text-align: center">Username</th>
                    <th style="text-align: center">email</th>
                </tr>
                <tr th:each="utente : ${utenti}">
                    <td th:text="${utente.getUsername()}"></td>
                    <td th:text="${utente.getEmail()}"></td>
                    <td>
                        <span th:if="${utente.getUsername() == #authentication.getName()}">Non puoi interagire con il tuo account.</span>
                        <div th:unless="${utente.getUsername() == #authentication.getName()}">
                            <button class="buttonPrimary buttonHover" style="border: 0px;width: 190px;"
                                    th:href="@{/admin/dettagliUtente(username=${utente.getUsername()})}"
                                    onclick="location.replace(this.getAttribute('href'))">Modifica
                            </button>
                            <button class="buttonPrimary buttonHover"  th:id="'Button-form-notification' + ${utente.getUsername()}" style="border: 0px;width: 190px;" th:attr="onclick=|openTabContentB('form-notification${utente.getUsername()}')|">Invia notifica</button>
                            <div class="formContainer formNot" th:id="'tab-content-form-notification' + ${utente.getUsername()} " style="height:0; border: 0 solid #737373; margin:0; padding:0; display: none;">

                                <h1 class="formContainer-title " style="text-align: center;">Scrivi qui i dettagli della notifica</h1>
                                    <div class="formContainer-wrapper" id="formContainer-wrapper-notification">
                                        <form th:id="'notForm' + ${utente.getUsername()} " th:action="@{/sendNotification}" th:object="${notifica}" method="post" role="form">
                                            <input class="form-field-input" th:id="'destinatarioSendnot' + ${utente.getUsername()} " name="destinatario" th:value="${utente.getUsername()}" type="text" readonly autocomplete="off" hidden>
                                            <p class="errorMessage" th:id="'destinatarioSendnot' + ${utente.getUsername()} + 'Error'"></p>
                                            <div class="form-field">
                                                <label class="form-field-label" th:for="'autoreSendnot' + ${utente.getUsername()}">Autore</label>
                                                <input class="form-field-input" th:id="'autoreSendnot' + ${utente.getUsername()}"   name="autore" th:value="${#authentication.getName()}" type="text" readonly autocomplete="off" required>
                                                <p class="errorMessage" th:id="'autoreSendnot' + ${utente.getUsername()} + 'Error'"></p>
                                            </div>
                                            <div class="form-field">
                                                <label class="form-field-label" th:for="'testoSendnot' + ${utente.getUsername()}">testo</label>
                                                <textarea class="form-field-input" style="height: 100px; resize: none;" th:field="*{testo}"   th:id="'testoSendnot' + ${utente.getUsername()}"  name="text" rows="5" maxlength="500" autocomplete="off" required></textarea>
                                                <p class="errorMessage" th:id="'testoSendnot' + ${utente.getUsername()}+  'Error'"></p>
                                            </div>
                                            <button class="form-submitButton buttonPrimary buttonHover" th:id="'SubmitNot' + ${utente.getUsername()}" style="margin: 20px auto;width: 180px;" th:attr="onclick=|return InvioNotificaSingola('${utente.getUsername()}')|" type="submit">Invia Notifica</button>
                                            <p class="SuccessMessage" th:id="'SubmitSendnot' + ${utente.getUsername()} + 'Success'"></p>
                                        </form>
                                    </div>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <button class="buttonPrimary buttonHover buttonNot" id="Button-form-notificationB" onclick="openTabContentB('form-notificationB')">Invia notifica Broadcast</button>
        <div class="formContainer" id="tab-content-form-notificationB" style="height:0; border: 0 solid #737373; margin:0; padding:0; display: none;">
            <h1 class="formContainer-title ">Scrivi qui i dettagli della notifica</h1>
            <div class="formContainer-wrapper" id="formContainer-wrapper-notificationB">
                <form th:action="@{/sendNotificationAll}" id="notFormB" th:object="${notifica}" method="post" role="form">
                    <div class="form-field">
                        <label class="form-field-label" for="autoreSendnotB">Autore</label>
                        <input class="form-field-input" id="autoreSendnotB" name="autore" th:value="${#authentication.getName()}" type="text" readonly autocomplete="off" required>
                        <p class="errorMessage" id="autoreSendnotBError"></p>
                    </div>
                    <div class="form-field">
                        <label class="form-field-label" for="testoSendnotB">testo</label>
                        <textarea class="form-field-input" style="height: 100px; resize: none;" th:field="*{testo}"  id="testoSendnotB" name="text" rows="5" maxlength="500" autocomplete="off" required></textarea>
                        <p class="errorMessage" id="testoSendnotBError"></p>
                    </div>
                    <button class="form-submitButton buttonPrimary buttonHover" id="SubmitNotB" style="margin: 20px auto;display: block;width: 180px;" onclick="return InvioNotificaAll()" type="submit">Invia Notifica</button>
                    <p class="SuccessMessage" id="SubmitSendnotBSuccess"></p>
                </form>
            </div>
        </div>
    </div>
</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>