<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Site Head Nav Bar</title>
</head>
<body>
<header class="mainHeader" th:fragment="navbar">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/header.js}"></script>
    <div class="wrapperHeader">
        <div class="logo">
            <a th:href="@{/}" class="site-logo-link"></a>
        </div>
        <div class="leftPart-header">
            <div sec:authorize="isAuthenticated()" class="notifications">
                <div class="notifications-number">
                    <span id="countNot" class="number-notify"></span>
                </div>

                <div class="notify-btn">
                    <a onclick="actionOpenNot()">
                        <i class="fa fa-bell"></i>
                    </a>
                </div>
                <div class="dropdown-contentNot" id="drpCntNotification">
                    <div class="notifications-header">
                        <span>Notifiche</span>
                    </div>
                    <div>
                        <div id="alert-no-notify" style="display: none">

                        </div>
                        <ul id="notify-item-list">

                        </ul>
                    </div>

                </div>


            </div>
            <ul class="actions">
                <li>
                    <div class="account-btn">
                        <a sec:authorize="isAuthenticated()" onclick="actionOpen('Account')">
                            <i class="fa fa-user-circle"></i>
                        </a>
                        <a sec:authorize="isAnonymous()" th:href="@{/accountAuth}">
                            <i class="fa fa-user-circle"></i>
                        </a>
                    </div>
                    <ul class="dropdown-content" id="drpCntAccount">
                        <li>
                        <span class="closeAction" id="closeAct" onclick="actionClose()">
                            <i class="fa fa-times"></i>
                        </span>
                            <h2>Account</h2>
                            <div class="navBarSecondaryCategory"
                                 th:href="@{/editProfile}" onclick="location.replace(this.getAttribute('href'))">
                                <a th:href="@{/editProfile}">
                                    Modifica Profilo
                                    <i class="fa fa-user" style="margin-left: 5px"></i>
                                </a>
                            </div>
                            <div class="navBarSecondaryCategory"
                                 th:href="@{/searchHistory}" onclick="location.replace(this.getAttribute('href'))">
                                <a th:href="@{/searchHistory}">
                                    Cronologia Ricerche
                                    <i class="fa fa-history" style="margin-left: 5px"></i>
                                </a>
                            </div>
                            <div class="navBarSecondaryCategory"
                                 th:href="@{/savedPlaces}" onclick="location.replace(this.getAttribute('href'))">
                                <a th:href="@{/savedPlaces}">
                                    Luoghi Preferiti
                                    <i class="fa fa-star" style="margin-left: 5px"></i>
                                </a>
                            </div>
                            <div sec:authorize="hasRole('ROLE_ADMIN')" class="navBarSecondaryCategory"
                                 th:href="@{/admin/users}" onclick="location.replace(this.getAttribute('href'))">
                                <a th:href="@{/admin/users}">
                                    Gestisci gli utenti
                                    <i class="fa fa-users" style="margin-left: 5px"></i>
                                </a>
                            </div>
                            <div class="navBarSecondaryCategory"
                                 th:href="@{/logout}" onclick="location.replace(this.getAttribute('href'))">
                                <a th:href="@{/logout}">
                                    Esci
                                    <i class="fa fa-sign-out" style="margin-left: 5px"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</header>
</body>
</html>