main {
    background: #2f2f2f;
}

#map {
    height: 60vh;
    width: 60vw;
    margin: 0 auto 25px;
    position: sticky;
}

.slider {
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    cursor: pointer;
}
.slider::-moz-range-thumb {
    cursor: pointer;
}

.form-field,
.form-field-input,
.form-field-label,
.form-field-comment,
.slidecontainer {
    text-align: center;
    justify-content: center;
}

.form-field-input {
    background: #292929 !important;
    border: 1px solid #2f2f2f !important;
    color: #888 !important;
    width: 50% !important;
    margin: auto !important;
}

.form-buttons {
    padding: 0 15.5% 15px 15%;
}

.search-addressBtn {
    border: none;
    cursor: pointer;
    font-weight: 700;
    padding: 8px 20px;
}

#submitS-spinner{
    display: none;
    color: white;
    margin-left: 20px;
}

.errorMessage {
    color: red;
    margin: 8px 0;
}
.errorMessage:empty {
    display: none;
}