.profile-page {
    width: 100%;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto auto;
}

@media (min-width: 1024px) {
    .col-sidebar {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-mainEdit {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.col-sidebar, .col-mainEdit {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-bg {
    padding: 10px;
    background: #222;
    margin-bottom: 25px
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    background: #151515;
}
.menu li:nth-child(even) {
    background: #1a1a1a;
}
.active {
    background: #0b5d28 !important;
}
.menu-item a {
    color: white;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.title {
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
}
.edit-title {
    border-bottom: 1px solid rgba(51,51,51,.83922);
    padding: 5px 10px 0;
    background: #222;
}
.title-2 {
    line-height: 35px;
    font-size: 18px;
    font-weight: 700;
}

.form-field, .form-field-input, .form-field-label, .form-field-comment {
    text-align: center;
    justify-content: center;
}
.form-field-input {
    background: #292929 !important;
    border: 1px solid #2f2f2f !important;
    color: #888 !important;
    width: 50% !important;
    margin: auto !important;
}
.form-buttons {
    padding: 0 15.5% 15px 15%;
}
.form-field-comment {
    max-width: 70%;
    margin: auto;
}

.password-eye {
    right: calc(25% + 12px) !important;
}
.form-passwordInput {
    padding-right: 50px !important;
    text-indent: 30px;
}

#search-list, #place-list {
    padding: 0 10px;
}

.list-item {
    border-bottom: 1px solid #303030;
    position: relative;
    list-style-type: none;
}

.past-search, .saved-place {
    border-bottom: 1px solid #303030;
    padding: 10px 2%;
    font-weight: 700;
}

.past-search-title, .saved-place-title {
    font-size: 17px;
    color: #0b5d28;
}
.past-search-title a {
    color: #0b5d28;
}
.past-search-actions {
    display: inline-block;
    float: right;
}
.saved-place-actions {
    float: right;
    display: flex;
    gap: 15px;
}
.clickable-action {
    display: inline-block;
    cursor: pointer;
}
.delete-clickable-icon {
    color: #e83838;
}
.setNot-clickable-icon {
    color: #0b5d28;
}
.setNot-action {
    font-size: 18px;
}

.search-time {
    color: #6d6d6d;
    font-weight: 200;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 11px;
}

.saved-place-idq {
    height: 10px;
}
.place-idqFound {
    color: #0b5d28;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 14px;
}
.place-idqLuogo {
    color: #b71313;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
}

.past-search-content, .saved-place-content {
    margin: 0.1em 0 2em;
    overflow: hidden;
    font-weight: 500;
    font-size: 11px;
    color: #ababab;
}
.past-search-content a {
    color: #ababab;
}

.SuccessMessage {
    text-align: center;
    color: green;
    margin: 5px 0 15px;
}
.errorMessage {
    color: red;
    margin: 8px 0;
}
.errorMessage:empty {
    display: none;
}
#submit-spinner{
    display: none;
    color: white;
    margin-left: 20px;
}