main{
    margin: auto 0;
}
.EndPageButton{
    max-width: fit-content;
        margin: 20px auto;
}
.formNotEndPage{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 600px;
    padding: 10px;
}
.formNot{
    margin: 5px auto;
    width: 600px;
    padding: 10px;
}
.form-field-input{
    background-color: #424242;
}

.formContainer-title{
    margin: 5px;
    text-align: center;

}
.main-wrapper{
    display: grid;
}
#title-page{
    margin: 20px;
    max-width: fit-content;
}
.errorMessage {
    color: red;
    margin: 8px 0;
}
.errorMessage:empty {
    display: none;
}
.SuccessMessage {
    color: green;
    margin: 8px 0;
}
.SuccessMessage:empty {
    display: none;
}

