<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FindYourPlace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/siteStyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script th:src="@{/js/homepage.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: navbar"></div>

<main>
    <div id="searchBar" class="form-field">
        <label class="form-field-label" for="addressInput"></label>
        <input class="form-field-input" type="text" id="addressInput" placeholder="Inserisci un indirizzo">
        <button class="search-addressBtn" type="button" onclick="searchAddress()">Cerca</button>
    </div>

    <form id="searchForm" th:action="@{/search}" th:object="${ricerca}" method="POST" role="form">
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">

        <div class="form-field">
            <label class="form-field-label" for="raggio" id="raggioValue">Raggio in Km: 25</label>
            <div class="slidecontainer">
                <input type="range" class="slider" id="raggio" name="raggio"
                       min="10" max="150" th:value="25" required>
                <p class="errorMessage" id="raggioError"></p>
            </div>
        </div>

        <div id="map"></div>
        <p class="errorMessage" id="latitudeError"></p>
        <p class="errorMessage" id="longitudeError"></p>

        <div class="form-field">
            <label class="form-field-label" for="costoVita">Costo della vita:</label>
            <select class="form-field-input" id="costoVita" name="costoVita">
                <option th:value="QUALSIASI">QUALSIASI</option>
                <option th:value="BASSO">BASSO</option>
                <option th:value="MEDIO">MEDIO</option>
                <option th:value="ALTO">ALTO</option>
            </select>
            <p class="errorMessage" id="costoVitaError"></p>
        </div>

        <div class="form-field">
            <label class="form-field-label" for="dangerMax" id="dangerMaxValue">Pericolosità massima: 100%</label>
            <div class="slidecontainer">
                <input type="range" class="slider" id="dangerMax" name="dangerMax"
                       min="25" max="100" th:value="100">
                <p class="errorMessage" id="dangerMaxError"></p>
            </div>
        </div>

        <div class="form-field">
            <label class="form-field-label" for="numAbitantiMin" id="numAbitantiMinValue">Numero abitanti minimo: 0</label>
            <div class="slidecontainer">
                <input type="range" class="slider" id="numAbitantiMin" name="numAbitantiMin"
                       min="0" max="100000" th:value="0">
                <p class="errorMessage" id="numAbitantiMinError"></p>
            </div>
        </div>

        <div class="form-field">
            <label class="form-field-label" for="numAbitantiMax" id="numAbitantiMaxValue">Numero abitanti massimo: 1000000</label>
            <div class="slidecontainer">
                <input type="range" class="slider" id="numAbitantiMax" name="numAbitantiMax"
                       min="1000" max="1000000" th:value="1000000">
                <p class="errorMessage" id="numAbitantiMaxError"></p>
            </div>
        </div>

        <div class="form-field">
            <label class="form-field-label" for="numNegoziMin" id="numNegoziMinValue">Numero negozi minimo: 0</label>
            <div class="slidecontainer">
                <input type="range" class="slider" id="numNegoziMin" name="numNegoziMin"
                       min="0" max="1000" th:value="0">
                <p class="errorMessage" id="numNegoziMinError"></p>
            </div>
        </div>

        <div class="form-field">
            <label class="form-field-label" for="numRistorantiMin" id="numRistorantiMinValue">Numero ristoranti minimo: 0</label>
            <div class="slidecontainer">
                <input type="range" class="slider" id="numRistorantiMin" name="numRistorantiMin"
                       min="0" max="10000" th:value="0">
                <p class="errorMessage" id="numRistorantiMinError"></p>
            </div>
        </div>

        <div class="form-field">
            <label class="form-field-label" for="numScuoleMin" id="numScuoleMinValue">Numero scuole minimo: 0</label>
            <div class="slidecontainer">
                <input type="range" class="slider" id="numScuoleMin" name="numScuoleMin"
                       min="0" max="100" th:value="0">
                <p class="errorMessage" id="numScuoleMinError"></p>
            </div>
        </div>

        <div class="form-buttons">
            <button class="form-submitButton" onclick="return confermaParametri()" type="submit">
                Cerca
                <i id="submitS-spinner" class="fa fa-spinner fa-spin"></i>
            </button>
        </div>
        <p class="errorMessage" id="resultsNotFound"></p>
    </form>
</main>

<div th:insert="fragments/footer :: footer"></div>
</body>

<script>
    $(document).ready(function() {
        $('#searchForm').submit(function(e) {
            e.preventDefault();

            let spinner= $('#submitS-spinner');
            spinner.show();
            $.ajax({
                type: 'POST',
                url: CONTEXT_PATH + 'search',
                data: $('#searchForm').serialize(),
                success: function(response, textStatus, xhr) {
                    if(xhr.status === 201) {
                        window.location.href = CONTEXT_PATH + "searchResult?ricerca=" + response.ricerca;
                    } else {
                        console.log("HTTP Status imprevisto: " + xhr.status)
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    if(xhr.status === 400) {
                        $('[id$=Error]').text('');
                        xhr.responseJSON.errors.forEach(function(error) {
                            $('#' + error.field + 'Error').text(error.defaultMessage);
                        });
                        let longitudeError = $('#longitudeError');
                        if($('#latitudeError').textContent !== ''
                            && longitudeError.textContent !== '') {
                            longitudeError.textContent = ''
                        }
                    }
                    else if (xhr.status === 500) {
                        $('#resultsNotFound').text("Nessun risultato trovato: prova a cambiare filtri o coordinate!");
                    }
                    else {
                        console.log("Errore HTTP Status imprevisto: " + textStatus + errorThrown)
                    }
                },
                complete: function() {
                    spinner.hide();
                }
            });
        });
    });
</script>
</html>