<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FindYourPlace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" href="../static/css/siteStyle.css" th:href="@{/css/siteStyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/jquery-3.7.1.js" th:src="@{/js/jquery-3.7.1.js}"></script>
</head>
<body>
    <div th:insert="fragments/header :: navbar"></div>

    <main>
        <div>
            <h1>Main</h1>
        </div>
    </main>

    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>